.admin {
  padding: 3em;
  button {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
  }
}

.csvImport {
  padding-top: 0.5em;
  float: left;
  width: 300px;
  overflow: hidden;
  .import {
    height: 38px;
    padding-top: 2px;
  }
  .label {
    display: none;
  }
  label {
    padding-left: 0.7em;
  }
  .ng-csv-import-header-switch {
    display: none;
  }
  div {
    span {
      display: none;
    }
  }
}
