.charts {
  background-color: white;
}


  #overallBarChart, #overview, #overallFeatureChart, #bubble,
  #gauge, #personalOverallBarChart, #featureChart, #easy {
    margin-bottom: 25em;
    div {
      div {
        margin: 0 auto;
      }
    }
  }


// Animation
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 400ms;
  transition-delay: 400ms;
}

.fade.ng-hide-add {
  transition: all linear 400ms;
}

#easvsUse {
  div {text-align: center;
}}


#cockpit {
  h4{
    text-align: center;
  }
  h1 {
    padding-bottom: 0;
  }
}

#gauge {
text-align: center;
}