.home {
  min-height: 500px;
  padding: 3em;
  h1 {
    padding-bottom: 0.5em;
  }
  h4 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  h3 {
    padding-top: 1.5em;
    padding-bottom: 0.3em;
  }

  p {

    line-height: 1.2;
  }
}

#titleHome {
  display:inline-block;
  width: 60%;
  horiz-align: center;
}

#feedBack {
  display:inline-block;
  float:right;
  background-color: #2F9682;
  color:white;
}
.titleFeedback {
  width: 100%;
}

#testButton {

background-color: #F0F0F0;
}

.md-button.md-raised {
  background-color: #F0F0F0;

}

.intro p {
  margin-top: 0;
}

#feedBack2 {
  display:inline-block;
  float:right;
  background-color: #2F9682;
  color:white;
}
#feedBack3 {
  display:inline-block;
  float:right;
  background-color: #2F9682;
  color:white;
}