.results {
  padding: 3em;
  h1 {
    padding-bottom: 0.5em;
  }
}

.resultsDashboard {
  background-color: #f1f1f1;
  margin-top:15px;
  width:100%;
  border: 1px solid #ccc;
}

.chartContainer {
  padding:1%;
  display: block;
  background-color: #f1f1f1;
  height: 550px;
  overflow: hidden;
}
.chartContent {
  height: 100%;
  background-color: white;
  display: block;
  padding-left: 2em;
  padding-right: 1em;
}

.selectBar {
  height:60px;
  background-color: #2F9682;
  padding:1%;
}

.selectButton {
  height:100%;
  width:24.7%;
  display: inline-block;
  float: left;
  padding:0.2%;
  button {
    padding:0;
    margin:0%;
  }
}

#right {
  padding-right:0;
}
#left {
  padding-left:0;
}

#distribution {
  height:100%;
  width:100%;
}
#capabilities {
  height:100%;
  width:100%;
}

#easevsuse {
  height:100%;
  width:100%;
}
.selection {
  h4, h3, h2, h1 {
    margin:0;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: white;
  }
  h1, h2, h3 {
    text-align: center;
  }
  width:100%;
}

#generalOverall {
  padding-top:0;
}

.vis-hidden {
  visibility: hidden;
}

.results {
  background-color: white;
  clear:left;
}
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 0.5em;
  margin:0;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  border-right:1px solid #ccc;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.titleEmail {
  display: inline-block;
  width: 100%;
}

#title {
  display:inline-block;
  width:30%;
}

#email {
  display: inline-block;
  float:right;
}

.alias {
  display:inline-block;
  padding-top: 0.5em;
}

#login {
  display: inline-block;
}

#aliasInput {
  display: inline-block;
}

select {
  width: 150px;
  font-size: 16px;
  overflow: hidden;
  font-family: Calibri;
}

#homeButton {
  margin: 0;
}




