.survey {
  padding: 3em;
}

// Allgemeine Anpassungen der Survey
.mw-data-table {
  overflow-x: auto;
  td {
    max-width: 550px;
    min-width: 114px;
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .md-ink-ripple {
    left: auto;
    margin-left: 5px;
  }
  tr td:first-child {
    text-align: left;
    white-space: normal;
    min-width: 300px;
    width: 550px;
  }
}

.mw-question-text {
  padding-bottom: 15px;
}

.mw-question-answers {
  padding-left: 15px;
  overflow-x: auto;
}

.md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
  background-color: #0b3e6f;
}

.md-radio-group.md-default-theme .md-checked .md-ink-ripple, md-radio-group .md-checked .md-ink-ripple {
  border-color: #0b3e6f;
}

.md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
  border-color: #0b3e6f;
}
.md-radio-button , .md-radio-button.md-checked .md-off {
  border-color: blue;
}

.mw-page-element {
  div {
    p {
      color: red;
      font-weight: bold;
    }
  }
}



// Exakte Anpassungen

#radio_39, #radio_40, #radio_41, #radio_42, #radio_43, #radio_44, #radio_45, #radio_46, #radio_47, #radio_48, #radio_49,
#radio_50, #radio_51, #radio_52, #radio_53, #radio_54, #radio_55, #radio_56, #radio_57, #radio_58, #radio_59,
#radio_60, #radio_61, #radio_62, #radio_63, #radio_64, #radio_65, #radio_66, #radio_67, #radio_68, #radio_69,
#radio_70, #radio_71, #radio_72, #radio_73, #radio_74, #radio_75, #radio_76, #radio_77, #radio_78, #radio_79,
#radio_80, #radio_81, #radio_82, #radio_83, #radio_84, #radio_85, #radio_86, #radio_87, #radio_88, #radio_89,
#radio_90, #radio_91, #radio_92, #radio_93, #radio_94, #radio_95, #radio_96, #radio_97, #radio_98, #radio_99,
#radio_100, #radio_101, #radio_102, #radio_103, #radio_104, #radio_105, #radio_106, #radio_107, #radio_108, #radio_109,
#radio_110, #radio_111, #radio_112, #radio_113, #radio_114 {
  width: 50%;
  display: inline-block;
}

