<div class="admin" ng-controller="resultsCtrl">
    <h1>Admin Options</h1> </br>
    <h4>
        Feedback Scores
    </h4>
    <div>
        Percentage of users, who would recommend the tool to a friend:    {{feedBack1}}%
    </div>
    <div>
        Percentage of users, who think the tool will influence their choice of BI tool in the future: {{feedBack2}}%
    </div>

    <div>
        Number of users, who gave feedback: {{feedBackLength}}
    </div></br>
    <h4>
        General Feedback Comments
    </h4>
        <div ng-repeat="key in feedBack3">
            {{key}}
        </div>





    <h2>Possible States</h2>
    <button class="md-button md-raised" ui-sref="home">Home</button>
    <button class="md-button md-raised" ui-sref="survey">Survey</button>
    <button class="md-button md-raised" ui-sref="results">Results</button>
    <button class="md-button md-raised" ui-sref="decisionTypeSurvey">DecisionType</button>
    <h2>Database-Options</h2>
    <button ng-click="emptyDB()" class="md-button md-raised">Reset Database</button>
    <button class="md-button md-raised" ng-click="deleteEmptyEntries()">Delete Empty Entries</button>
    <button ng-click="downloadDB()" class="md-button md-raised">Save DB to File</button>
    <button class="md-button md-raised csvExport"
            ng-csv="csvExport()"
            filename="ResponsesExport.csv"
            field-separator=";"
            decimal-separator="."
            add-bom="true"
            lazy-load="true"
            csv-header="config.header">
        CSV-Export
    </button>
    <div class="csvImport">
        <label>CSV-Import</label>
        <ng-csv-import
                class="import md-button md-raised"
                content="csv.content"
                header="csv.header"
                header-visible="csv.headerVisible"
                separator="csv.separator"
                separator-visible="csv.separatorVisible"
                result="csv.result"
                encoding="csv.encoding"
                encoding-visible="csv.encodingVisible"
                upload-button-label="'CSV-Import'"
                callback="csvImport">
        </ng-csv-import>
    </div>
</div>