<div class= "personalResult">
    <h2>
        Personal Results
    </h2>
    <span>The below results summarize the responses of people, who use their BI tool for similar things like you.
    </span>
    </br>
    <div class="resultsDashboard">
        <ul class="tab" ng-model = "chosenView" ng-init = "chosenView = 'personalCockpit'">
            <li> <a href="javascript:void(0)" id = "persCockpitTab" class = "perstablinks"   ng-click="chosenView = 'personalCockpit'; calcAndShowResults()">Cockpit</a></li>
            <li> <a href="javascript:void(0)" id = "persScoreTab" class = "perstablinks"   ng-click="chosenView = 'personalOverall'; calcAndShowResults()">Tool Scores</a></li>
            <li> <a href="javascript:void(0)" id = "persDistTab" class = "perstablinks"  ng-click="chosenView = 'personalDistribution'; calcAndShowResults()">Tool Distribution</a></li>
            <li> <a href="javascript:void(0)" id = "persFeatureTab"class = "perstablinks"  ng-click="chosenView = 'features'; calcAndShowResults()">Features by Tool</a></li>
            <li> <a href="javascript:void(0)" id = "persToolByFeatureTab"class = "perstablinks"  ng-click="chosenView = 'toolByFeature'; calcAndShowResults()">Tools by Feature</a></li>
            <li> <a href="javascript:void(0)" id = "persEasyTab" class = "perstablinks"  ng-click="chosenView = 'personalEasy'; calcAndShowResults()">Ease of Use / Usefulness</a></li>
        </ul>

        <div class="chartContainer">
            <div class="chartContent">
                <div ng-show ="chosenView == 'personalCockpit'" class = "charts fade" id = "personalCockpit">
                    <div class="selection" ng-show = "showCockpit" id = cockpit>
                        <h1>Rating of Your BI Tool</h1>
                        <h4>{{personalResult.tool}}</h4>
                    </div>
                        <h2 ng-hide = "showCockpit">
                            The cockpit is only relevant for users, who have rated their BI tool
                        </h2>
                    <div class="gauge" id="gauge"></div>
                </div>

                <div ng-show ="chosenView == 'personalOverall'" class = "charts fade" id = "generalOverall">
                    <div class="selection">
                        <h1>
                            BI Tool Scores
                        </h1>
                        <h4>
                            Please select a Measure
                        <select ng-model="myPersonalCategory"
                                                                        ng-init="myPersonalCategory = 'Overall'"
                                                                        ng-options="category as category for category in categories"
                                                                        ng-change="getPersonalResult(); calcAndShowResults()"></select>
                        </h4>
                    </div>
                    <div class="barChart" id="personalOverallBarChart"></div>
                </div>
                <div ng-show ="chosenView == 'personalDistribution'" class = "charts fade" id = "personalDistribution">
                    <div class="selection">
                        <h1>Distribution of different BI Tools in this Data Set</h1>
                    </div>
                    <div class="barChart" id="personalOverviewChart"></div>
                </div>

                <div ng-show ="chosenView == 'features'" class = "charts fade" id = "personalFeatures">
                    <div class="selection">
                        <h1>Features by BI Tools</h1>
                        <h4>
                            BI Tool:
                            <select ng-model="myPersonalTool"
                               id="biCapabilities"
                               ng-init="myPersonalTool = 'All'"
                               ng-options="tool as tool for tool in myPersonalTools"
                               ng-change="getPersonalResult(); calcAndShowResults()"
                               style="font-family: Calibri">
                            </select>
                        </h4>
                    </div>
                    <div class="barChart" id="featureChart"></div>
                </div>
                <div ng-show ="chosenView == 'toolByFeature'" class = "charts fade" id = "toolByFeature">
                    <div class="selection">
                        <h1>BI Tools by Feature</h1>
                        <h4>
                            Feature:
                            <select ng-model="myPersonalFeature"
                                   id="persToolByFeature"
                                   ng-init="myPersonalFeature = 'MobileBI'"
                                   ng-options="feature as feature for feature in features"
                                   ng-change="getPersonalResult(); calcAndShowResults()">
                            </select>
                        </h4>
                    </div>
                    <div class="barChart" id="personalToolByFeatureChart"></div>
                </div>
                <div ng-show ="chosenView == 'personalEasy'" class = "charts fade" id = "easvsUse">
                    <div class="selection">
                        <h1>Ease of Use / Usefulness</h1>
                    </div>
                    <div class="barChart" id="easy"></div>
                </div>

            </div>
        </div>


        </div>
    </div>
</div>


        <!--<span>Hello {{personalResult.alias}}! Your decision type is: {{personalResult.decisionType}}!</span></br>
        <span>{{conditionalResultsByDecisionType.length - 1}} other people make the same type of decisions.</span></br>

        <span>You selected to support the following business processes with {{personalResult.tool}}:</span>
        <ul>
            <li ng-repeat="process in personalProcesses">
                {{process}}
            </li>
        </ul>
        <span ng-repeat="process in personalProcesses">The best tools for {{process}} are:
        <ul>
            <li ng-repeat="tool in processToolScores[process] | object2Array | orderBy:'average':true | limitTo:5">
                {{tool.toolName}} - Rating: {{tool.average.toFixed(3)}} - (n = {{tool.count}})
            </li>
        </ul>
        </span>



