<head>
    <script>
        document.getElementById("scoretab").click();
    </script>
</head>




<div class="results">
    <div class = "titleFeedback">
        <h1 id = "titleHome">
            Results
        </h1>
        <button  id = "feedBack2" class="md-button md-raised" ng-click="scrollToTop()" ui-sref="feedBackSurvey">Give Feedback</button>
    <!--<button class="md-button md-raised" id = "homeButton" ui-sref="home">Back to Home Screen</button>-->
    </div>

    <div class="introduction">
        Hello and welcome to the results page.</br>
        We have already collected data from {{length}}
        BI users. Based on the collected information, the below dashboard summarizes the responses of all users.</br>
        <span>
            If you have already completed the assessment, you can filter the results to responses from people, who use
            their BI Tool to support similar decisions like you.
            Therefore, just enter your email address in the below field to display your personal results dashboard.</br></br>
        </span>
    </div>

    <div class = "titleEmail">
        <h2 id = "title">
            General Results
        </h2>
        <div id = "email" class="alias">
            <label id = "login" > <strong>Login: </strong> </label>
            <form id = "aliasInput" ng-submit="calcAndShowResults(); showPersonalResultFor(alias)">
                <input id="alias" class="form-control" ng-model="alias" type="text" placeholder="Enter your e-mail..."/>
                <button class="btn" type="submit" ng-click="window.location='#persResults'">Request Results</button>
            </form>
        </div>
    </div>



    <div class="resultsDashboard">
        <ul class="tab" ng-model="chosenView" ng-init="chosenView= 'generalOverall'">
            <li><a href="javascript:void(0)" id="scoretab" class="tablinks"
                   ng-click="chosenView = 'generalOverall'; calcAndShowResults()">Tool Scores</a></li>
            <li><a href="javascript:void(0)" id="disttab" class="tablinks"
                   ng-click="chosenView = 'generalDistribution'; calcAndShowResults()">Tool Distribution</a></li>
            <li><a href="javascript:void(0)" id="featuretab" class="tablinks"
                   ng-click="chosenView = 'generalFeatures'; calcAndShowResults()">Features By Tool</a></li>
            <li><a href="javascript:void(0)" id="featureByToolTab" class="tablinks"
                   ng-click="chosenView = 'toolByFeature'; calcAndShowResults()">Tools By Feature</a></li>
            <li><a href="javascript:void(0)" id="easytab" class="tablinks"
                   ng-click="chosenView = 'generalEaseVsUse'; calcAndShowResults()">Ease of Use / Usefulness</a></li>
        </ul>
        <div class="chartContainer" >
            <div class="chartContent">

                <!--<Tool Scores Chart Tab>-->


                <div ng-show="chosenView == 'generalOverall'" class="charts fade" id="generalOverall">
                    <div class="selection">
                        <h1>
                            BI Tool Scores
                        </h1>
                        <h4>
                            Please select a Measure

                            <select ng-model="myCategory"
                                    ng-init="myCategory = 'Overall'"
                                    ng-options="category as category for category in categories"
                                    ng-change="calcAndShowResults()"
                                    style="font-family: Calibri">
                            </select>
                        </h4>

                    </div>
                    <div class="barChart fade" id="overallBarChart" ng-cloak></div>
                </div>

                <!--<Tool Distribution Chart Tab>-->


                <div ng-show="chosenView == 'generalDistribution'" class="charts fade" id="generalDistribution">
                    <div class="selection">
                        <h1>Distribution of different BI Tools in this Data Set</h1></br></br>
                    </div>
                    <div class="overviewChart" id="overview"></div>
                </div>


                <!--<Features By Tool Chart Tab>-->


                <div ng-show="chosenView == 'generalFeatures'" class="charts fade">
                    <div class="selection">
                        <h1>
                            Features by BI Tool
                        </h1>
                        <h4>
                            BI Tool:

                        <select id="biCapabilities"
                                ng-model="myTool"
                                ng-init="myTool = 'All'"
                                ng-options="tool as tool for tool in myTools"
                                ng-change="calcAndShowResults()"
                                style="font-family: Calibri">
                        </select>
                        </h4>



                    </div>
                    <div  class="barChart" id="overallFeatureChart"></div>
                </div>

                <!--<Tool By Feature Chart Tab>-->

                <div ng-show="chosenView == 'toolByFeature'" class="charts fade">
                    <div class = "selection">
                    <h1>
                        BI Tools by Feature
                    </h1>
                    <h4>
                            Feature:
                            <select id="biToolsByFeatures"
                                    ng-model="myFeature"
                                    ng-init="myFeature = 'MobileBI'"
                                    ng-options="feature as feature for feature in features"
                                    ng-change="calcAndShowResults()"
                                    style="font-family: Calibri">
                            </select>
                    </h4>
                    </div>

                    <div class="barChart" id="toolByFeatureChart"></div>
                </div>

                <!--<Ease of Use / Usefulness Chart Tab>-->

                <div ng-show="chosenView == 'generalEaseVsUse'" class="charts fade">
                    <div class="selection">
                        <h1>
                            Ease of Use / Usefulness
                        </h1>
                    </div>
                    <div class="bubbleChart" id="bubble"></div>
                </div>
            </div>


        </div>
    </div>

    <!-- Hier werden die personalResults reingeladen -->
    <div id="persResults" ui-view></div>
    <button  id = "feedBack3" class="md-button md-raised" ng-click="scrollToTop()" ui-sref="feedBackSurvey">Give Feedback</button>

</div>

